<div class="custom-checkbox-wrapper" [class.is-checked]="isChecked" [class.inline]="inline" [class.disabled]="disabled">

    <div class="label-group" *ngIf="!inline">
        <label [innerHTML]="label"></label>
    </div>

    <div class="input-wrapper">

        <div class="label-group mr-15" *ngIf="inline == 'left'">
            <label>
                <svg-icon *ngIf="iconLabel" src="../../assets/imgs/icons/{{iconLabel}}.svg" class="custom-icon sm {{iconColor || 'primary'}}"></svg-icon>
                <span [innerHTML]="label"></span>
            </label>
        </div>

        <div class="input-group">
            <input type="checkbox"
            [checked]="isChecked"
            [(ngModel)]="inputValue"
            [disabled]="disabled"
            (change)="onChange()" (ngModelChange)="onChange(true)" (focusin)="onFocusIn($event)"
            [class]="fc?.valid ? 'ng-valid' : 'ng-invalid'"
            [class.ng-valid]="fc?.valid || isChecked"
            [class.ng-invalid]="!fc?.valid"
            [class.ng-touched]="(fc?.touched || isChecked) && (everHadAValue || isFormSubmitted)"
            [class.ng-untouched]="!fc?.touched && (everHadAValue || isFormSubmitted)"
            [class.ng-dirty]="fc?.dirty || isChecked">
        </div>

        <div class="label-group ml-15" *ngIf="inline == 'right'">
            <label>
                <svg-icon *ngIf="iconLabel" src="../../assets/imgs/icons/{{iconLabel}}.svg" class="custom-icon sm {{iconColor || 'primary'}}"></svg-icon>
                <span [innerHTML]="label"></span>
            </label>
        </div>

    </div>

    <div class="info-wrapper" *ngIf="info || (fc && fc.dirty && fc.invalid && fc.touched && (everHadAValue || isFormSubmitted))">
        <div class="info-message" *ngIf="info">
            <i class="fal fa-circle-question"></i>
            <span>{{ info }}</span>
        </div>

		<div class="error-message" *ngIf="fc && fc.dirty && fc.invalid && fc.touched && (everHadAValue || isFormSubmitted)">
			<i class="fal fa-circle-exclamation"></i>
            <span>{{ (fc && fc.errors && fc.errors["message"] ? fc.errors["message"] || null : null) || "Este campo está incorreto." }}</span>
		</div>
	</div>

</div>
